<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">IA-<span>Intranet</span></a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action *ngIf="user" class="control-item" icon="bell-outline"></nb-action>
    <nb-action *ngIf="user" class="user-action" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.nome"
               [picture]="user?.picture">
      </nb-user>
    </nb-action>
    <nb-action *ngIf="!user" (click)="goToLogin()" class="control-item">Entrar</nb-action>
  </nb-actions>
</div>
